## 다중 페이지 크롤링 함수 만들기

In [42]:
import requests
import time
from tqdm.notebook import trange
import pandas as pd
from bs4 import BeautifulSoup as bs
import re

In [342]:
article_list=[]
date_list=[]
view_list=[]
likes_list=[]

for i in trange(2,201): # 2021-03~2022-03
    page=i
    url='https://cafe.naver.com/ArticleList.nhn'
    headers={'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}

    params = {'search.clubid' : '25371551', # 카페id
          'search.cafeId': '25371551',
          'search.queryType':'lastArticle',
          'search.menuid': '414', # 게시판id (지역 질문&답변 게시판)
          'search.boardtype': 'L',
          'search.totalCount': '151',
          'search.page': page  
             }
    
    response=requests.get(url,headers=headers,params=params) 
    html=bs(response.text,'lxml')

    for ii in range(0,15):
        article_list.append(re.sub('[^가-힣+\s]', '', str(html.select('div > a.article ')[ii])).strip())
        date_list.append(('-').join(re.findall(r'[0-9]+', str(html.select('td.td_date')[0]))))
        view_list.append(int(re.sub('[^0-9]','',str(html.select('td.td_view')[ii]))))
        likes_list.append(int(re.sub('[^0-9]','',str(html.select('td.td_likes')[ii]))))

  0%|          | 0/199 [00:00<?, ?it/s]

In [343]:
print(len(article_list))
print(len(date_list))
print(len(view_list))
print(len(likes_list))

2985
2985
2985
2985

## 데이터 프레임 병합

In [348]:
df=pd.DataFrame({'제목':article_list,'작성일자':date_list,'조회수':view_list,'좋아요수':likes_list})

In [349]:
df

                             제목        작성일자  조회수  좋아요수
0     강남역 근처에 미용실 괜찮은곳 추천 부탁드려요  2022-03-07   36     0
1                        한과 파는곳  2022-03-07    8     0
2                          자곡상권  2022-03-07   17     0
3                 서초 드라이브 가고싶네요  2022-03-07   11     0
4          세곡동쪽에 요가 괜찮은곳좀 알려주세요  2022-03-07   15     0
...                         ...         ...  ...   ...
2980                 청담동 청수어린이집  2021-03-01  189     1
2981            강남역 카페 추천부탁드립니다  2021-03-01   14     1
2982          서초 스튜디오 추천좀 부탁드려용  2021-03-01   11     1
2983      가동초 근처 깔끔한 반찬집 추천해주세요  2021-03-01   44     1
2984                     잠실쪽 맛집  2021-03-01   56     2

[2985 rows x 4 columns]

In [350]:
df.to_csv('맘카페',index=False)

## Mysql 적재

In [351]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()

In [353]:
from datetime import date

In [355]:
df['작성일자']=pd.to_datetime(df['작성일자'])

In [356]:
engine = create_engine('mysql+mysqldb://root:1234@localhost:3306/carrotmarket',encoding='utf-8')

conn = engine.connect()


 
df.to_sql(name='momcafe', con=conn, if_exists='append', index=False)

conn.close()

## 코드 만들던 부분

In [302]:
re.findall(r'[0-9]+', str(html.select('td.td_date')[0]))

['2021', '03', '01']

In [336]:
('-').join(re.findall(r'[0-9]+', str(html.select('td.td_date')[0]))) # 날짜형으로 넣어주기 위해서.

'2021-03-01'

In [308]:
re.findall('\d+',str(html.select('td.td_view')[0]))

['51']

In [310]:
re.findall('\d+',str(html.select('td.td_likes')[0]))

['1']